.img_Accueil {
    max-width: 100%;
    width: 325px;
}

.img_Accueil1 {
    top: 107px;
}

.img_Caroussel-artistes {
    max-width: 100%;
    width: 325px;
}

.img_Caroussel-oeuvres {
    max-width: 100%;
    width: 325px;
}