.img_Accueil {
    max-width: 100%;
    z-index: -1;
}

.img_Accueil1 {
    position: absolute;
    margin: 107px auto 0px 5.5%;
    width: 63%; 
}

.img_Accueil2 {
    position: absolute;
    margin: 187px auto 0 42.5%;
    width: 50%;
}

.img_Accueil3 {
    position: absolute;
    margin: 391px auto 0 5.5%;
    width: 51.2%;
}

.img_Caroussel-artistes {
    max-width: 100%;
    width: 325px;
}

.img_Caroussel-oeuvres {
    max-width: 100%;
    width: 325px;
}