.img_Accueil {
    max-width: 70%;
    z-index: -1;
}

.img_Accueil1 {
    position: absolute;
    margin: 107px auto 0px 5.5%;
    width: 238.5px; 
}

.img_Accueil2 {
    position: absolute;
    margin: 187px auto 0 42.5%;
    height: 239px;
}

.img_Accueil3 {
    position: absolute;
    margin: 391px auto 0 5.5%;
    width: 191px;
}

.img_Caroussel-artistes {
    max-width: 100%;
    width: 325px;
}

.img_Caroussel-oeuvres {
    max-width: 100%;
    width: 325px;
}

.img_PageArtiste {
    width: 38.5%;
    margin: 117px 30.5% 50px 30.5%;
}

.oeuvres_PageArtiste {
    width: 86.6%;
    margin: 0px 5.5% 0px 5.5%;
}

.oeuvres_PageOeuvre {
    width: 86.6%;
    margin: 0px 5.5% 25px 5.5%;
}

.image_artiste_frise {
    width: 38.5%;
    margin: 25px 30.5% 20px 30.5%;
}

.fleche {
    display: block;
    margin-left: auto;
    margin-right: auto;
}