.header {
    top: 0;
    position: fixed;
    width: 100%;
    height: 67px;
    background-color: var(--blanc);
}

.header_logo {
    position: absolute;
    top: 9px;
    left: 52.2%;
    right: 32%;
}

.header_title {
    color: var(--noir);
    margin-top: 25px;
    font-size: var(--logo);
    font-family: var(--font-family);
    font-weight: 600;
}

.header_title2 {
    font-weight: 200;
}

.header_logoLink {
    text-align: center;
    text-decoration: none;
}

.header_MenuBtn {
    position: absolute;
    top: 28px;
    right: 20px;
}